<!-- BEGIN CONTENT -->
<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
   aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Modal title</h4>
         </div>
         <div class="modal-body">
            Widget settings form goes here
         </div>
         <div class="modal-footer">
            <button type="button" class="btn blue">Save changes</button>
            <button type="button" class="btn default" data-dismiss="modal">Close</button>
         </div>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<!-- BEGIN STYLE CUSTOMIZER -->
<div class="theme-panel hidden-xs hidden-sm">
   <div class="toggler" style="display: block;">
   </div>
   <div class="toggler-close">
   </div>
   <div class="theme-options">
      <div class="theme-option theme-colors clearfix">
         <span>
            THEME COLOR </span>
         <ul>
            <li class="color-default current tooltips" data-style="default" data-container="body"
               data-original-title="Default">
            </li>
            <li class="color-darkblue tooltips" data-style="darkblue" data-container="body"
               data-original-title="Dark Blue">
            </li>
            <li class="color-blue tooltips" data-style="blue" data-container="body" data-original-title="Blue">
            </li>
            <li class="color-grey tooltips" data-style="grey" data-container="body" data-original-title="Grey">
            </li>
            <li class="color-light tooltips" data-style="light" data-container="body" data-original-title="Light">
            </li>
            <li class="color-light2 tooltips" data-style="light2" data-container="body" data-html="true"
               data-original-title="Light 2">
            </li>
         </ul>
      </div>
      <div class="theme-option">
         <span>
            Layout </span>
         <select class="layout-option form-control input-sm">
            <option value="fluid" selected="selected">Fluid</option>
            <option value="boxed">Boxed</option>
         </select>
      </div>
      <div class="theme-option">
         <span>
            Header </span>
         <select class="page-header-option form-control input-sm">
            <option value="fixed" selected="selected">Fixed</option>
            <option value="default">Default</option>
         </select>
      </div>
      <div class="theme-option">
         <span>
            Top Menu Dropdown</span>
         <select class="page-header-top-dropdown-style-option form-control input-sm">
            <option value="light" selected="selected">Light</option>
            <option value="dark">Dark</option>
         </select>
      </div>
      <div class="theme-option">
         <span>
            Sidebar Mode</span>
         <select class="sidebar-option form-control input-sm">
            <option value="fixed">Fixed</option>
            <option value="default" selected="selected">Default</option>
         </select>
      </div>
      <div class="theme-option">
         <span>
            Sidebar Menu </span>
         <select class="sidebar-menu-option form-control input-sm">
            <option value="accordion" selected="selected">Accordion</option>
            <option value="hover">Hover</option>
         </select>
      </div>
      <div class="theme-option">
         <span>
            Sidebar Style </span>
         <select class="sidebar-style-option form-control input-sm">
            <option value="default" selected="selected">Default</option>
            <option value="light">Light</option>
         </select>
      </div>
      <div class="theme-option">
         <span>
            Sidebar Position </span>
         <select class="sidebar-pos-option form-control input-sm">
            <option value="left" selected="selected">Left</option>
            <option value="right">Right</option>
         </select>
      </div>
      <div class="theme-option">
         <span>
            Footer </span>
         <select class="page-footer-option form-control input-sm">
            <option value="fixed">Fixed</option>
            <option value="default" selected="selected">Default</option>
         </select>
      </div>
   </div>
</div>
<!-- END STYLE CUSTOMIZER -->
<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
   Layout with Glyphicon <small>glyphicon icon support in sidebar and header menus</small>
</h3>
<div class="page-bar">
   <ul class="page-breadcrumb">
      <li>
         <i class="fa fa-home"></i>
         <a href="index.html">Home</a>
         <i class="fa fa-angle-right"></i>
      </li>
      <li>
         <a href="#">Page Layouts</a>
         <i class="fa fa-angle-right"></i>
      </li>
      <li>
         <a href="#">Layout with Glyphicon</a>
      </li>
   </ul>
   <div class="page-toolbar">
      <div class="btn-group pull-right">
         <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown"
            data-hover="dropdown" data-delay="1000" data-close-others="true">
            Actions <i class="fa fa-angle-down"></i>
         </button>
         <ul class="dropdown-menu pull-right" role="menu">
            <li>
               <a href="#">Action</a>
            </li>
            <li>
               <a href="#">Another action</a>
            </li>
            <li>
               <a href="#">Something else here</a>
            </li>
            <li class="divider">
            </li>
            <li>
               <a href="#">Separated link</a>
            </li>
         </ul>
      </div>
   </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row margin-bottom-20">
   <div class="col-md-12">
      <p>
         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
         industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
         and
         scrambled it to make a type specimen book. It has survived not only five centuries, but also the
         leap into
         electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
         release of
         Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
         like
         Aldus PageMaker including versions of Lorem Ipsum.
      </p>
      <p>
         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
         industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
         and
         scrambled it to make a type specimen book. It has survived not only five centuries, but also the
         leap into
         electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
         release of
         Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
         like
         Aldus PageMaker including versions of Lorem Ipsum.
      </p>
      <p>
         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
         industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
         and
         scrambled it to make a type specimen book.
      </p>
   </div>
</div>
<div class="row">
   <div class="col-md-6">
      <!-- BEGIN SAMPLE TABLE PORTLET-->
      <div class="portlet box blue">
         <div class="portlet-title">
            <div class="caption">
               <i class="glyphicon glyphicon-headphones"></i>Simple Table
            </div>
            <div class="tools">
               <a href="javascript:;" class="collapse">
               </a>
               <a href="#portlet-config" data-toggle="modal" class="config">
               </a>
               <a href="javascript:;" class="reload">
               </a>
               <a href="javascript:;" class="remove">
               </a>
            </div>
         </div>
         <div class="portlet-body">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th>
                        #
                     </th>
                     <th>
                        First Name
                     </th>
                     <th>
                        Last Name
                     </th>
                     <th class="hidden-480">
                        Username
                     </th>
                     <th>
                        Status
                     </th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>
                        1
                     </td>
                     <td>
                        Mark
                     </td>
                     <td>
                        Otto
                     </td>
                     <td class="hidden-480">
                        makr124
                     </td>
                     <td>
                        <span class="label label-success">
                           Approved </span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        2
                     </td>
                     <td>
                        Jacob
                     </td>
                     <td>
                        Nilson
                     </td>
                     <td class="hidden-480">
                        jac123
                     </td>
                     <td>
                        <span class="label label-info">
                           Pending </span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        3
                     </td>
                     <td>
                        Larry
                     </td>
                     <td>
                        Cooper
                     </td>
                     <td class="hidden-480">
                        lar
                     </td>
                     <td>
                        <span class="label label-warning">
                           Suspended </span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        3
                     </td>
                     <td>
                        Sandy
                     </td>
                     <td>
                        Lim
                     </td>
                     <td class="hidden-480">
                        sanlim
                     </td>
                     <td>
                        <span class="label label-danger">
                           Blocked </span>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <!-- END SAMPLE TABLE PORTLET-->
   </div>
   <div class="col-md-6">
      <!-- BEGIN BORDERED TABLE PORTLET-->
      <div class="portlet box yellow">
         <div class="portlet-title">
            <div class="caption">
               <i class="glyphicon glyphicon-gift"></i>Bordered Table
            </div>
            <div class="tools">
               <a href="javascript:;" class="collapse">
               </a>
               <a href="#portlet-config" data-toggle="modal" class="config">
               </a>
               <a href="javascript:;" class="reload">
               </a>
               <a href="javascript:;" class="remove">
               </a>
            </div>
         </div>
         <div class="portlet-body">
            <table class="table table-bordered table-hover">
               <thead>
                  <tr>
                     <th>
                        #
                     </th>
                     <th>
                        First Name
                     </th>
                     <th>
                        Last Name
                     </th>
                     <th class="hidden-480">
                        Username
                     </th>
                     <th>
                        Status
                     </th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>
                        1
                     </td>
                     <td>
                        Mark
                     </td>
                     <td>
                        Otto
                     </td>
                     <td class="hidden-480">
                        makr124
                     </td>
                     <td>
                        <span class="label label-success">
                           Approved </span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        2
                     </td>
                     <td>
                        Jacob
                     </td>
                     <td>
                        Nilson
                     </td>
                     <td class="hidden-480">
                        jac123
                     </td>
                     <td>
                        <span class="label label-info">
                           Pending </span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        3
                     </td>
                     <td>
                        Larry
                     </td>
                     <td>
                        Cooper
                     </td>
                     <td class="hidden-480">
                        lar
                     </td>
                     <td>
                        <span class="label label-warning">
                           Suspended </span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        3
                     </td>
                     <td>
                        Sandy
                     </td>
                     <td>
                        Lim
                     </td>
                     <td class="hidden-480">
                        sanlim
                     </td>
                     <td>
                        <span class="label label-danger">
                           Blocked </span>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <!-- END BORDERED TABLE PORTLET-->
   </div>
</div>
<!-- END PAGE CONTENT-->
<!-- BEGIN PAGE CONTENT-->
<div class="row margin-bottom-20">
   <div class="col-md-12">
      <p>
         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
         industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
         and
         scrambled it to make a type specimen book. It has survived not only five centuries, but also the
         leap into
         electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
         release of
         Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
         like
         Aldus PageMaker including versions of Lorem Ipsum.
      </p>
      <p>
         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
         industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
         and
         scrambled it to make a type specimen book. It has survived not only five centuries, but also the
         leap into
         electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
         release of
         Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
         like
         Aldus PageMaker including versions of Lorem Ipsum.
      </p>
      <p>
         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
         industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
         and
         scrambled it to make a type specimen book.
      </p>
   </div>
</div>
<div class="row">
   <div class="col-md-6">
      <!-- BEGIN SAMPLE TABLE PORTLET-->
      <div class="portlet box blue">
         <div class="portlet-title">
            <div class="caption">
               <i class="glyphicon glyphicon-headphones"></i>Simple Table
            </div>
            <div class="tools">
               <a href="javascript:;" class="collapse">
               </a>
               <a href="#portlet-config" data-toggle="modal" class="config">
               </a>
               <a href="javascript:;" class="reload">
               </a>
               <a href="javascript:;" class="remove">
               </a>
            </div>
         </div>
         <div class="portlet-body">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th>
                        #
                     </th>
                     <th>
                        First Name
                     </th>
                     <th>
                        Last Name
                     </th>
                     <th class="hidden-480">
                        Username
                     </th>
                     <th>
                        Status
                     </th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>
                        1
                     </td>
                     <td>
                        Mark
                     </td>
                     <td>
                        Otto
                     </td>
                     <td class="hidden-480">
                        makr124
                     </td>
                     <td>
                        <span class="label label-success">
                           Approved </span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        2
                     </td>
                     <td>
                        Jacob
                     </td>
                     <td>
                        Nilson
                     </td>
                     <td class="hidden-480">
                        jac123
                     </td>
                     <td>
                        <span class="label label-info">
                           Pending </span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        3
                     </td>
                     <td>
                        Larry
                     </td>
                     <td>
                        Cooper
                     </td>
                     <td class="hidden-480">
                        lar
                     </td>
                     <td>
                        <span class="label label-warning">
                           Suspended </span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        3
                     </td>
                     <td>
                        Sandy
                     </td>
                     <td>
                        Lim
                     </td>
                     <td class="hidden-480">
                        sanlim
                     </td>
                     <td>
                        <span class="label label-danger">
                           Blocked </span>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <!-- END SAMPLE TABLE PORTLET-->
   </div>
   <div class="col-md-6">
      <!-- BEGIN BORDERED TABLE PORTLET-->
      <div class="portlet box yellow">
         <div class="portlet-title">
            <div class="caption">
               <i class="glyphicon glyphicon-gift"></i>Bordered Table
            </div>
            <div class="tools">
               <a href="javascript:;" class="collapse">
               </a>
               <a href="#portlet-config" data-toggle="modal" class="config">
               </a>
               <a href="javascript:;" class="reload">
               </a>
               <a href="javascript:;" class="remove">
               </a>
            </div>
         </div>
         <div class="portlet-body">
            <table class="table table-bordered table-hover">
               <thead>
                  <tr>
                     <th>
                        #
                     </th>
                     <th>
                        First Name
                     </th>
                     <th>
                        Last Name
                     </th>
                     <th class="hidden-480">
                        Username
                     </th>
                     <th>
                        Status
                     </th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>
                        1
                     </td>
                     <td>
                        Mark
                     </td>
                     <td>
                        Otto
                     </td>
                     <td class="hidden-480">
                        makr124
                     </td>
                     <td>
                        <span class="label label-success">
                           Approved </span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        2
                     </td>
                     <td>
                        Jacob
                     </td>
                     <td>
                        Nilson
                     </td>
                     <td class="hidden-480">
                        jac123
                     </td>
                     <td>
                        <span class="label label-info">
                           Pending </span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        3
                     </td>
                     <td>
                        Larry
                     </td>
                     <td>
                        Cooper
                     </td>
                     <td class="hidden-480">
                        lar
                     </td>
                     <td>
                        <span class="label label-warning">
                           Suspended </span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        3
                     </td>
                     <td>
                        Sandy
                     </td>
                     <td>
                        Lim
                     </td>
                     <td class="hidden-480">
                        sanlim
                     </td>
                     <td>
                        <span class="label label-danger">
                           Blocked </span>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <!-- END BORDERED TABLE PORTLET-->
   </div>
</div>
<!-- END PAGE CONTENT-->
<!-- BEGIN PAGE CONTENT-->
<div class="row margin-bottom-20">
   <div class="col-md-12">
      <p>
         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
         industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
         and
         scrambled it to make a type specimen book. It has survived not only five centuries, but also the
         leap into
         electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
         release of
         Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
         like
         Aldus PageMaker including versions of Lorem Ipsum.
      </p>
      <p>
         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
         industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
         and
         scrambled it to make a type specimen book. It has survived not only five centuries, but also the
         leap into
         electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
         release of
         Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
         like
         Aldus PageMaker including versions of Lorem Ipsum.
      </p>
      <p>
         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
         industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
         and
         scrambled it to make a type specimen book.
      </p>
   </div>
</div>
<div class="row">
   <div class="col-md-6">
      <!-- BEGIN SAMPLE TABLE PORTLET-->
      <div class="portlet box blue">
         <div class="portlet-title">
            <div class="caption">
               <i class="glyphicon glyphicon-headphones"></i>Simple Table
            </div>
            <div class="tools">
               <a href="javascript:;" class="collapse">
               </a>
               <a href="#portlet-config" data-toggle="modal" class="config">
               </a>
               <a href="javascript:;" class="reload">
               </a>
               <a href="javascript:;" class="remove">
               </a>
            </div>
         </div>
         <div class="portlet-body">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th>
                        #
                     </th>
                     <th>
                        First Name
                     </th>
                     <th>
                        Last Name
                     </th>
                     <th class="hidden-480">
                        Username
                     </th>
                     <th>
                        Status
                     </th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>
                        1
                     </td>
                     <td>
                        Mark
                     </td>
                     <td>
                        Otto
                     </td>
                     <td class="hidden-480">
                        makr124
                     </td>
                     <td>
                        <span class="label label-success">
                           Approved </span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        2
                     </td>
                     <td>
                        Jacob
                     </td>
                     <td>
                        Nilson
                     </td>
                     <td class="hidden-480">
                        jac123
                     </td>
                     <td>
                        <span class="label label-info">
                           Pending </span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        3
                     </td>
                     <td>
                        Larry
                     </td>
                     <td>
                        Cooper
                     </td>
                     <td class="hidden-480">
                        lar
                     </td>
                     <td>
                        <span class="label label-warning">
                           Suspended </span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        3
                     </td>
                     <td>
                        Sandy
                     </td>
                     <td>
                        Lim
                     </td>
                     <td class="hidden-480">
                        sanlim
                     </td>
                     <td>
                        <span class="label label-danger">
                           Blocked </span>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <!-- END SAMPLE TABLE PORTLET-->
   </div>
   <div class="col-md-6">
      <!-- BEGIN BORDERED TABLE PORTLET-->
      <div class="portlet box yellow">
         <div class="portlet-title">
            <div class="caption">
               <i class="glyphicon glyphicon-gift"></i>Bordered Table
            </div>
            <div class="tools">
               <a href="javascript:;" class="collapse">
               </a>
               <a href="#portlet-config" data-toggle="modal" class="config">
               </a>
               <a href="javascript:;" class="reload">
               </a>
               <a href="javascript:;" class="remove">
               </a>
            </div>
         </div>
         <div class="portlet-body">
            <table class="table table-bordered table-hover">
               <thead>
                  <tr>
                     <th>
                        #
                     </th>
                     <th>
                        First Name
                     </th>
                     <th>
                        Last Name
                     </th>
                     <th class="hidden-480">
                        Username
                     </th>
                     <th>
                        Status
                     </th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>
                        1
                     </td>
                     <td>
                        Mark
                     </td>
                     <td>
                        Otto
                     </td>
                     <td class="hidden-480">
                        makr124
                     </td>
                     <td>
                        <span class="label label-success">
                           Approved </span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        2
                     </td>
                     <td>
                        Jacob
                     </td>
                     <td>
                        Nilson
                     </td>
                     <td class="hidden-480">
                        jac123
                     </td>
                     <td>
                        <span class="label label-info">
                           Pending </span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        3
                     </td>
                     <td>
                        Larry
                     </td>
                     <td>
                        Cooper
                     </td>
                     <td class="hidden-480">
                        lar
                     </td>
                     <td>
                        <span class="label label-warning">
                           Suspended </span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        3
                     </td>
                     <td>
                        Sandy
                     </td>
                     <td>
                        Lim
                     </td>
                     <td class="hidden-480">
                        sanlim
                     </td>
                     <td>
                        <span class="label label-danger">
                           Blocked </span>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <!-- END BORDERED TABLE PORTLET-->
   </div>
</div>
<!-- END CONTENT -->
