<div class="row">
   <div class="col-md-12">
      <div class="portlet box green-haze">
         <div class="portlet-title">
            <div class="caption">
               <i class="fa fa-gift"></i>Popover Confirmation Demos
            </div>
            <div class="tools">
               <a href="javascript:;" class="collapse">
               </a>
               <a href="#portlet-config" data-toggle="modal" class="config">
               </a>
               <a href="javascript:;" class="reload">
               </a>
               <a href="javascript:;" class="remove">
               </a>
            </div>
         </div>
         <div class="portlet-body">
            <h3>Basic Usage</h3>
            <p>
               Add small overlays with "Yes" and "No" buttons, like those on the iPad, to any element. Click the button
               to trigger the confirmation.
            </p>
            <button class="btn btn-large btn-danger" data-toggle="confirmation" data-original-title="Are you sure ?"
               title="">Default configuration</button>
            <h3>Custom Buttons</h3>
            <button class="btn btn-success" data-toggle="confirmation" data-placement="right"
               data-btn-ok-label="Continue" data-btn-ok-icon="icon-like" data-btn-ok-class="btn-success"
               data-btn-cancel-label="Stoooop!" data-btn-cancel-icon="icon-close"
               data-btn-cancel-class="btn-danger">Action confirmation!</button>
            <h3>Directions</h3>
            <button class="btn btn-success" data-toggle="confirmation" data-placement="left">Confirmation on
               left</button>
            <button class="btn btn-info" data-toggle="confirmation" data-placement="top">Confirmation on top</button>
            <button class="btn btn-primary" data-toggle="confirmation" data-placement="bottom">Confirmation on
               bottom</button>
            <button class="btn btn-danger" data-toggle="confirmation" data-placement="right">Confirmation on
               right</button>
            <h3>Singleton</h3>
            <p>
               Only one boxe visible at once.
            </p>
            <button class="btn btn-success" data-toggle="confirmation" data-singleton="true">Confirmation 1</button>
            <button class="btn btn-danger" data-toggle="confirmation" data-singleton="true">Confirmation 2</button>
            <h3>Popout</h3>
            <p>
               Click anywhere on the page to close all boxes.
            </p>
            <button class="btn btn-primary" data-toggle="confirmation" data-popout="true">Confirmation 1</button>
            <button class="btn btn-warning" data-toggle="confirmation" data-popout="true">Confirmation 2</button>
            <h3>Event Handling</h3>
            <p>
               All events from Bootstrap Popover are available but suffixed with bs.confirmation.
            </p>
            <button class="btn btn-warning" data-toggle="confirmation" id="bs_confirmation_demo_1">Confirmation
               1</button>
            <button class="btn btn-success" data-toggle="confirmation" id="bs_confirmation_demo_2">Confirmation
               2</button>
         </div>
      </div>
   </div>
</div>
