<!-- BEGIN BUTTONS PORTLET-->
<div class="portlet box green ">
   <div class="portlet-title">
      <div class="caption">
         <i class="fa fa-gift"></i>Buttons
      </div>
      <div class="tools">
         <a href="javascript:;" class="collapse">
         </a>
         <a href="#portlet-config" data-toggle="modal" class="config">
         </a>
         <a href="javascript:;" class="reload">
         </a>
         <a href="javascript:;" class="remove">
         </a>
      </div>
   </div>
   <div class="portlet-body util-btn-margin-bottom-5">
      <div class="clearfix">
         <h4 class="block">Default Bootstrap Buttons(Customized to Match Theme Style)</h4>
         <!-- Standard gray button with gradient -->
         <button type="button" class="btn btn-default">Default</button>
         <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
         <button type="button" class="btn btn-primary">Primary</button>
         <!-- Indicates a successful or positive action -->
         <button type="button" class="btn btn-success">Success</button>
         <!-- Contextual button for informational alert messages -->
         <button type="button" class="btn btn-info">Info</button>
         <!-- Indicates caution should be taken with this action -->
         <button type="button" class="btn btn-warning">Warning</button>
         <!-- Indicates a dangerous or potentially negative action -->
         <button type="button" class="btn btn-danger">Danger</button>
         <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
         <button type="button" class="btn btn-link">Link</button>
      </div>
      <div class="clearfix">
         <h4 class="block">Metronic Style Buttons</h4>
         <button type="button" class="btn default">Default</button>
         <button type="button" class="btn red">Red</button>
         <button type="button" class="btn blue">Blue</button>
         <button type="button" class="btn green">Green</button>
         <button type="button" class="btn yellow">Yellow</button>
         <button type="button" class="btn purple">Purple</button>
         <button type="button" class="btn dark">Dark</button>
      </div>
      <div class="clearfix">
         <h4 class="block">More Button Colors(go to <a href="ui_colors.html">
               ui_colors.html </a>
            for more colors) </h4>
         <button type="button" class="btn blue-hoki">Blue Hoki</button>
         <button type="button" class="btn blue-madison">Blue Madison</button>
         <button type="button" class="btn green-meadow">Green Meadow</button>
         <button type="button" class="btn red-sunglo">Red Sunglo</button>
         <button type="button" class="btn yellow-crusta">Yellow Crusta</button>
         <button type="button" class="btn purple-plum">Purple Plum</button>
         <button type="button" class="btn grey-cascade">Grey Cascade</button>
      </div>
      <div class="clearfix">
         <h4 class="block">Button Stripe</h4>
         <a href="javascript:;" class="btn default red-stripe">
            Red </a>
         <a href="javascript:;" class="btn default blue-stripe">
            Blue </a>
         <a href="javascript:;" class="btn default green-stripe">
            Green </a>
         <a href="javascript:;" class="btn default yellow-stripe">
            Yellow </a>
         <a href="javascript:;" class="btn default purple-stripe">
            Purple </a>
         <a href="javascript:;" class="btn default green-stripe">
            Green </a>
         <a href="javascript:;" class="btn default dark-stripe">
            Dark </a>
      </div>
      <div class="clearfix">
         <h4 class="block">Disabled</h4>
         <a href="javascript:;" class="btn default disabled">
            Default </a>
         <a href="javascript:;" class="btn red disabled">
            Red </a>
         <a href="javascript:;" class="btn blue disabled">
            Blue </a>
         <a href="javascript:;" class="btn green disabled">
            Green </a>
         <a href="javascript:;" class="btn yellow disabled">
            Yellow </a>
         <a href="javascript:;" class="btn purple disabled">
            Purple </a>
         <a href="javascript:;" class="btn dark disabled">
            Dark </a>
      </div>
      <div class="clearfix">
         <h4 class="block">Button Sizes</h4>
         <button type="button" class="btn default btn-lg">Large button</button>
         <button type="button" class="btn red">Default button</button>
         <button type="button" class="btn blue btn-sm">Small button</button>
         <button type="button" class="btn green btn-xs">Extra small button</button>
      </div>
      <div class="clearfix">
         <h4 class="block">Button Tags</h4>
         <a href="javascript:;" class="btn default">
            Link </a>
         <button class="btn default">Button</button>
         <input type="button" class="btn default" value="Input">
         <input type="submit" class="btn default" value="Submit">
      </div>
      <div class="clearfix">
         <h4 class="block">Block Buttons</h4>
         <a href="javascript:;" class="btn default btn-block">
            Link </a>
         <button class="btn blue btn-block">Button</button>
         <input type="button" class="btn red btn-block" value="Input">
         <input type="submit" class="btn purple btn-block" value="Submit">
      </div>
   </div>
</div>
<!-- END BUTTONS PORTLET-->
